<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <strong>Cotizacion para: {{autoSeleccionado.NOMBRE}}</strong> </h3>
    <br>
    <button class="btn btn-info" ng-click="volver('seleccionAuto')">Volver</button>
  </div>
  <div class="panel-body">
     <h4>Caracteristicas</h4>
    <table class="table table-hover">
    <th>Caracteristica</th>
    <th>Detalle</th>
    <tr  ng-repeat ="caracteristica in detalleAuto">
      <td>{{caracteristica.CARACTERISTICA}}</td>
      <td>{{caracteristica.DETALLE}}</td>
    </tr>
    </table>
    <h4>Precio Base</h4>
    <table class="table table-hover">
      <th>ITEM</th>
      <th>PRECIO</th>
      <th>CANTIDAD</th>
      <th>SUBTOTAL</th>
    <tr>
      <td>{{autoSeleccionado.NOMBRE}}</td>
      <td>{{precioAuto.PRECIO | currency:"COP $ "}}</td>
      <td>1</td>
      <td>{{precioAuto.PRECIO | currency:"COP $ "}}</td>
    </tr>  
    </table>
    <h4>Partes incluidas</h4>
    <table class="table table-hover">
    <th ng-repeat="(key,val) in partesIncluidas[0]">{{key}}</th>
    <tr  ng-repeat ="parteIncluida in partesIncluidas">
      <td ng-repeat ="detalle in parteIncluida">{{detalle}}</td>
    </tr>
    </table>
     <h4>Accesorios Agregados</h4>
    <table class="table table-hover">
    <th ng-repeat="(key,val) in accesoriosAgregados[0]">{{key}}</th>
    <tr  ng-repeat ="accesorioAgr in accesoriosAgregados  track by $index">
      <td ng-repeat ="detalle in accesorioAgr">{{detalle}}</td>
    </tr>
    </table>
    <h3>TOTAL : {{total | currency:"COP $ "}}</h3>
    <br>
    <h4>Agregar Accesorios</h4>
    <table class="table table-hover">
    <th ng-repeat="(key,val) in accesorios[0]">{{key}}</th>
    <tr  ng-repeat ="accesorio in accesorios">
      <td ng-repeat ="detalle in accesorio">{{detalle}}</td>
      <td><button class="btn btn-success" ng-click="agregarAccesorio(accesorio)">agregar</button></td>
    </tr>
    </table>
  </div>
   <div class="panel-footer">
    <button class="btn btn-success" ng-click ="guardarCotizacion()">Guardar cotizacion</button>
    <button class="btn btn-warning" ng-click="generarPDFCotizacion()">Generar PDF</button>
 </div>
</div>