<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <strong>{{autoSeleccionado.NOMBRE}}</strong> </h3>
    <br>
    <button class="btn btn-info" ng-click="volver('seleccionAuto')">Volver</button>
  </div>
  <div class="panel-body">
    <h4>Caracteristicas</h4>
    <table class="table table-hover">
    <th>Caracteristica</th>
    <th>Detalle</th>
    <tr  ng-repeat ="caracteristica in detalleAuto">
      <td>{{caracteristica.CARACTERISTICA}}</td>
      <td>{{caracteristica.DETALLE}}</td>
    </tr>
    </table>
    <h4>Partes incluidas</h4>
    <table class="table table-hover">
    <th ng-repeat="(key,val) in partesIncluidas[0]">{{key}}</th>
    <tr  ng-repeat ="parteIncluida in partesIncluidas">
      <td ng-repeat ="detalle in parteIncluida">{{detalle}}</td>
    </tr>
    </table>
  </div>
   <div class="panel-footer">
 </div>
</div>