
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <strong>Seleccione El Modelo de Pago</strong> </h3>
    <br>
    <strong style="font-size:22px;">TOTAL: {{cotizacionSeleccionada.TOTAL | currency:"COP $ "}}</strong>
    
    <div class="row">    
    </div>
  </div>
  <div class="panel-body">    
    <table class="table table-hover">     
    <tr>
      <!-- pagos 30 -->
      <td> 
        <div class="panel-footer"> <button class="btn btn-info">30% : {{cotizacionSeleccionada.TOTAL*0.3 | currency:"COP $ "}}</button> </div>
        <input type="" name="" placeholder="% de pago" ng-model="porcentaje30">
        <button class="btn btn-warning" ng-click = "agregarPago30()">Agregar pago</button>

        <div ng-repeat="acuerdo in acuerdosPago30">
        <br>
        <button class="btn btn-info" ng-click="volver2('medio-pago',porcentajePrincipal,$index)"> Volver</button>
        <br>
          <span>Porcentaje: {{acuerdo.porcentaje}}%</span>
          <br>
          <span>Valor: {{acuerdo.valor | currency:"COP $ "}}</span>
          <div ng-init="porcentajePrincipal=30"></div>
        <medios-pago id="medios-30-{{$index}}"></medios-pago>
        <bancos-aliados style="display: none" id="bancos-30-{{$index}}"></bancos-aliados>
        <button class="btn btn-danger" ng-click="elminarAcuerdo(acuerdo,porcentajePrincipal)">Eliminar</button>
        </div>
        <br>
        <button ng-click="registrarAcuerdos()"  class="btn btn-primary">Aceptar</button>
      </td>
    <!-- pagos 30 -->
    <!-- pagos 70 -->
      <td>
       <div class="panel-footer"> <button class="btn btn-info" >70% : {{cotizacionSeleccionada.TOTAL*0.7 | currency:"COP $ "}}</button> </div> 
        <input type="" name="" placeholder="% de pago" ng-model="porcentaje70">
        <button class="btn btn-warning" ng-click = "agregarPago70()">Agregar pago</button>

        <div ng-repeat="acuerdo in acuerdosPago70">
        <br>
        <button class="btn btn-info" ng-click="volver2('medio-pago',porcentajePrincipal,$index)"> Volver</button>
        <br>
          <span>Porcentaje: {{acuerdo.porcentaje}}%</span>
          <br>
          <span>Valor: {{acuerdo.valor | currency:"COP $ "}}</span>
        <div ng-init="porcentajePrincipal=70"></div>
        <medios-pago id="medios-70-{{$index}}"></medios-pago>
        <bancos-aliados style="display: none" id="bancos-70-{{$index}}"></bancos-aliados>
        <button class="btn btn-danger" ng-click="elminarAcuerdo(acuerdo,porcentajePrincipal)">Eliminar</button>
        </div>
        <br>
        <button ng-click="registrarAcuerdos()" class="btn btn-primary">Aceptar</button>
     </td>
     <!-- pagos 70 -->
    </tr>    
    </table>
  </div>   
</div>