
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <strong>Seleccione cliente</strong> </h3>
    <br>
    <div class="row">
    <div class="col-xs-6">
      <input class="form-control input-sm" type="" name="" placeholder="nombre" ng-model="nombre">
    </div>
    </div>
  </div>
  <div class="panel-body">
    <table class="table table-hover">
    <th ng-repeat="(key, value) in clientes[0]">{{key}}</th>
    <tr class="rowCliente" ng-repeat ="cliente in clientes |filter: nombre" ng-click="seleccionarCliente(cliente,$event.currentTarget)">
      <td>{{cliente.NOMBRE}}</td>
      <td>{{cliente.ID}}</td>
    </tr>
    </table>
  </div>
   <div class="panel-footer">
    <button class="btn btn-info">Registrar cliente</button> 
 </div>
</div>