
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <strong>Seleccione El Modelo de Pago</strong> </h3>
    <br>
    <div class="row">    
    </div>
  </div>
  <div class="panel-body">    
    <table class="table table-hover">     
    <tr>
      <td> <div class="panel-footer"> <button class="btn btn-info" ng-click="volver2('treinta')">30%</button> </div> </td>
      <td> <div class="panel-footer"> <button class="btn btn-info" ng-click="volver2('setenta')">70%</button> </div>  </td>
    </tr>    
    </table>
  </div>   
</div>