
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"> <strong>Seleccione la Cotización</strong> </h3>
    <br>
    <button class="btn btn-info" ng-click="volverTodasCotizaciones()">Volver</button>
    <br>
    <br>
    <div class="row">
    <div class="col-xs-6">
      <input class="form-control input-sm" type="" name="" placeholder="cedula" ng-model="cedula">
    </div>
    <button class="btn btn-info" ng-click="buscarCotizacionPorCedula(cedula)">Buscar</button>
    </div>
  </div>
  <div class="panel-body" id="todas-cotizaciones">
    <table class="table table-hover">
    <th ng-repeat="(key, value) in cotizaciones[0]">{{key}}</th>
    <tr class="rowCotizacion" ng-repeat ="cotizacion in cotizaciones" ng-click="seleccionarCotizacion(cotizacion,$event.currentTarget)">
      <td ng-repeat="detalle in cotizacion">{{detalle}}</td>
    </tr>
    </table>
  </div>   
  <div class="panel-body" style="display: none" id="cliente-cotizaciones">
    <table class="table table-hover">
    <th ng-repeat="(key, value) in cotizacionesCliente[0]">{{key}}</th>
    <tr class="rowCotizacion" ng-repeat ="cotizacion in cotizacionesCliente" ng-click="seleccionarCotizacion(cotizacion,$event.currentTarget)">
       <td ng-repeat ="detalle in cotizacion">{{detalle}}</td>
    </tr>
    </table>
  </div> 

</div>